<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1.日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--2.别名-->
    <typeAliases>
        <package name="com.sias.crm"/>
    </typeAliases>
    <!--3.映射起文件
          在-->
<!--    <mappers>-->
<!--&lt;!&ndash;        <package name="com.sias.crm.mapper"/>&ndash;&gt;-->
<!--        <mapper class="com.sias.crm.settings.mapper.UserMapper"></mapper>-->
<!--    </mappers>-->
</configuration>
